<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stravata</title>
</head>
<body>
  <p><%= calList.caloriesOneDay %></p>
  <p><%= calList.caloriesOneMonth %></p>
  <p><%= calList.caloriesOneYear %></p>
</body>
</html>

